header{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 10px 1rem;
    overflow: hidden;
    .logo-container{
        height: 100%;
        z-index: 2;
        .logo-link{
            display: block;
            width: 100%;
            height: 100%;
            img{
                height: 100%;
                pointer-events: none;
            }
        }
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 5rem;
        background-color: $darker;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
        overflow-y: scroll;
        .nav-menu{
            margin-top: 3rem;
            .nav-item{
                text-align: center;
                margin-bottom: 3rem;
                .nav-link{
                    font-size: clamp(28px, 4vw, 32px);
                    color: $light;
                }
                .drop-link{
                    display: block;
                    margin-bottom: 1.5rem;
                }
            }
            .drop-item{
                margin-bottom: 1.5rem;
            }
            .sub-menu{
                height: 0;
                visibility: hidden;
                overflow: hidden;
                background-color: $darkerx2;
                transition: height .6s;
                .nav-item{
                    margin: 3rem;
                }
            }
            .showDropdownMenu{
                height: 17rem;
            }
        }
        .media-container{
            display: flex;
            justify-content: center;   
            margin: 2rem; 
        }
    }
    .navOpen{
        transform: translateX(0);
    }
    .menu-icon{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        width: 3rem;
        height: 3rem;
        padding: 5px 0;
        cursor: pointer;
        z-index: 2;
        .line{
            display: block;
            width: 100%;
            height: 5px;
            border-radius: 10px;
            background-color: #000;
            background-color: $light;
            transition-property: width opacity transform;
            transition-duration: .5s;
            transition-timing-function: ease-in-out;
        }
        .line2{
            width: 70%;
        }
        .line3{
            width: 40%;
        }
        .activeLine1{
            transform-origin: right top;
            transform: rotate(-45deg);
        }
        .activeLine2{
            transform: translateX(3rem);
            opacity: .0;
        }
        .activeLine3{
            width: 100%;
            transform-origin: right bottom;
            transform: rotate(45deg);
        }
    }
}