.shadow{
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: .4);
}
.section-title{
    display: inline-block;
    font-size: clamp(24px, 5vw, 36px);
    background: -webkit-linear-gradient(0deg, rgba(4,89,139,1) 0%, rgba(30,178,213,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1rem 0;
}