.packageManager{
    display: flex;
    flex-direction: column;
    .package-system{
        display: flex;
        .subtitle{
            margin: 2rem 0;
            color: #fff;
            font-size: 14px;
            text-align: center;
        }
        .packages{  
            width: 50%;
            padding-right: .5rem;
        }
        .yourPackage{
            width: 50%;
        }
    }
}