.package-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
    height: 120px;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    background-color: $dark-blue;
    transition: transform .3s ease-in-out;
    &:hover{
        transform: scale(1.1,1.1);
    }
    h4{
        color: $light;
        font-size: clamp(14px, 3vw, 16px);
        text-align: center;
    }
    button{
        height: 2rem;
        min-width: 2rem;
    }
}