.menu-icon{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 3rem;
    height: 3rem;
    padding: 5px 0;
    z-index: 2;
    .line{
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 10px;
        background-color: #000;
        background-color: $light;
        transition-property: width opacity transform;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }
    .line2{
        width: 70%;
    }
    .line3{
        width: 40%;
    }
    .activeLine1{
        transform-origin: right top;
        transform: rotate(-45deg);
    }
    .activeLine2{
        transform: translateX(3rem);
        opacity: .0;
    }
    .activeLine3{
        width: 100%;
        transform-origin: right bottom;
        transform: rotate(45deg);
    }
}