.service-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 280px;
    aspect-ratio: 9/10;
    margin: 2rem 0;
    padding: 1.5rem;
    background-color: $dark-blue;
    border-radius: 10px;
    transition: transform .3s ease-in-out;
    &:hover{
        transform: translateY(-10px);
    }
    .service-card-info{
        h4{
            font-size: 26px;
            background: -webkit-linear-gradient(0deg, rgba(202,3,74,1) 0%, rgba(27,170,206,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 1rem;
        }
        p{
            font-size: 14px;
            color: #fff;
        }
    }
    a{
        display: block;
        button{
            width: 100%;
            font-size: clamp(16px, 3vw, 18px);
            font-weight: 400;
            text-transform: inherit;
            background-color: #006ED6;
                
        }
    }
}